.avatar {
    $langer: 100px;
    $medium: 50px;
    $normal: 40px;
    $small: 28px;
    $tiny: 22px;

    display: inline-flex;

    .wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(211, 213, 218);
        border-radius: 50%;
    }

    .langer {
        width: $langer;
        height: $langer;
    }

    .medium {
        width: $medium;
        height: $medium;
    }

    .normal {
        width: $normal;
        height: $normal;
    }

    .small {
        width: $small;
        height: $small;
    }

    .tiny {
        width: $tiny;
        height: $tiny;
    }

    img {
        border-radius: 50%;
    }

    i {
        font-size: $normal * 0.5;
    }
}
