.drop_contain {
    position: fixed;
    top: 0px;
    height: 0px;
    width: 100vw;
    height: 100vh;

    .drop_wrap {
        position: absolute;
        display: inline-flex;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.45);
    }

    .drop_wrap > div {
        border-radius: 3px;
    }
}

.drop_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;

    .drop_seperate {
        height: 1px;
        background-color: rgba($color: $color-mid-light, $alpha: 0.4);
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .drop_item {
        padding: 5px 25px;
        text-align: left;
        color: #000000;
        border: none;
        border-radius: 0px;
    }

    .drop_item:hover {
        color: #fff;
    }
}

.drop_content {
    .setting_drop_content {
        width: 250px;
    }
}
