.drop_content {
    .setting_drop_content {
        width: 220px;
    }
}

.setting_drop_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;

    .setting_drop_seperate {
        height: 1px;
        background-color: rgba($color: $color-mid-light, $alpha: 0.4);
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .setting_drop_item {
        padding: 5px 25px;
        text-align: left;
        color: #000000;
        border: none;
        border-radius: 0px;
    }

    .setting_drop_item:hover {
        color: #fff;
    }
}
