@font-face {
    font-family: "HelveticaNeue";
    src: url("./static/fonts/HelveticaNeue.ttf") format("truetype");
}

@font-face {
    font-family: "HelveticaNeue-Normal";
    src: url("./static/fonts/HelveticaNeue-Normal.ttf") format("truetype");
}

@font-face {
    font-family: "HelveticaNeue-Medium";
    src: url("./static/fonts/HelveticaNeue-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "HelveticaNeue-Bold";
    src: url("./static/fonts/HelveticaNeue-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "UTMAvoBold";
    src: url("./static/fonts/UTMAvoBold.eot");
    src: url("./static/fonts/UTMAvoBold.woff") format("woff"), url("./static/fonts/UTMAvoBold.eot") format("opentype"),
        url("./static/fonts/UTMAvoBold.svg") format("svg");
}

$color-semi-dark: #444;
$color-mid-dark: #292929;
$color-mid-dark-2: #1e1e1e;
$color-dark: #131313;
$color-low-light: #f3f3f3;
$color-semi-light: #dadcde;
$color-mid-light: #ccc;
$color-light: #999;
$color-semi-blue: rgb(240, 240, 245);
$color-orange: #d46549;
$color-red: #c80204;
$color-text-primary: var(--blue);
$color-text-extra: $color-semi-light;
$color-primary: var(--blue);

* {
    font-family: "HelveticaNeue";
    font-size: 14px;
}

a {
    color: $color-text-primary;
}

a:hover {
    color: $color-primary;
    text-decoration: none;
    transition: 0.5s;
}

p {
    margin: 0px;
}

button {
    border: none;
    background-color: transparent;
}

button:focus {
    outline: none;
    box-shadow: none;
}
