.link {
    color: $color-text-primary !important;
}

.link:hover {
    color: $color-primary !important;
    cursor: pointer;
}

.text-orange {
    color: var(--orange) !important;
}

.text-red {
    color: $color-red !important;
}

.text-semi-dark {
    color: $color-semi-dark !important;
}

.text-mid-dark {
    color: $color-mid-dark !important;
}

.text-dark {
    color: $color-dark !important;
}

.text-semi-light {
    color: $color-semi-light !important;
}

.text-mid-light {
    color: $color-mid-light !important;
}

.text-light {
    color: $color-light !important;
}

.text-primary {
    color: $color-primary !important;
}

.bg-semi-dark {
    background-color: $color-semi-dark !important;
}

.bg-mid-dark {
    background-color: $color-mid-dark !important;
}

.bg-dark {
    background-color: $color-dark !important;
}

.bg-semi-light {
    background-color: $color-semi-light !important;
}

.bg-mid-light {
    background-color: $color-mid-light !important;
}

.bg-semi-blue {
    background-color: $color-semi-blue !important;
}

.bg-orange {
    background-color: $color-orange !important;
}

.bg-red {
    background-color: $color-red !important;
}

.bg-primary {
    background-color: $color-primary !important;
}

.text-40 {
    font-size: 40px;
}

.text-30 {
    font-size: 30px;
}

.text-23 {
    font-size: 23px;
}

.text-20 {
    font-size: 20px;
}

.text-18 {
    font-size: 18px;
}

.text-17 {
    font-size: 17px;
}

.text-16 {
    font-size: 16px;
}

.text-15 {
    font-size: 15px;
}

.text-14 {
    font-size: 14px;
}

.text-13 {
    font-size: 13px;
}

.text-12 {
    font-size: 12px;
}

.text-bold {
    font-family: "HelveticaNeue-Medium" !important;
}

.text-normal {
    font-family: "HelveticaNeue-Normal" !important;
}

.text-lighter {
    font-family: "HelveticaNeue" !important;
}

.btn-outline-custom {
    background-color: $color-low-light;
    border: none;
    color: black;
}

.btn-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;

    i {
        font-size: 20px;
    }
}

.auto-hide {
    opacity: 0.0;
}

.auto-hide:hover {
    opacity: 1.0;
}

.auto-show {
    opacity: 1.0;
}

.auto-show:hover {
    opacity: 0.0;
}
