@font-face {
  font-family: "HelveticaNeue";
  src: url("./static/fonts/HelveticaNeue.ttf") format("truetype"); }

@font-face {
  font-family: "HelveticaNeue-Normal";
  src: url("./static/fonts/HelveticaNeue-Normal.ttf") format("truetype"); }

@font-face {
  font-family: "HelveticaNeue-Medium";
  src: url("./static/fonts/HelveticaNeue-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "HelveticaNeue-Bold";
  src: url("./static/fonts/HelveticaNeue-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "UTMAvoBold";
  src: url("./static/fonts/UTMAvoBold.eot");
  src: url("./static/fonts/UTMAvoBold.woff") format("woff"), url("./static/fonts/UTMAvoBold.eot") format("opentype"), url("./static/fonts/UTMAvoBold.svg") format("svg"); }

* {
  font-family: "HelveticaNeue";
  font-size: 14px; }

a {
  color: var(--blue); }

a:hover {
  color: var(--blue);
  text-decoration: none;
  transition: 0.5s; }

p {
  margin: 0px; }

button {
  border: none;
  background-color: transparent; }

button:focus {
  outline: none;
  box-shadow: none; }

.link {
  color: var(--blue) !important; }

.link:hover {
  color: var(--blue) !important;
  cursor: pointer; }

.text-orange {
  color: var(--orange) !important; }

.text-red {
  color: #c80204 !important; }

.text-semi-dark {
  color: #444 !important; }

.text-mid-dark {
  color: #292929 !important; }

.text-dark {
  color: #131313 !important; }

.text-semi-light {
  color: #dadcde !important; }

.text-mid-light {
  color: #ccc !important; }

.text-light {
  color: #999 !important; }

.text-primary {
  color: var(--blue) !important; }

.bg-semi-dark {
  background-color: #444 !important; }

.bg-mid-dark {
  background-color: #292929 !important; }

.bg-dark {
  background-color: #131313 !important; }

.bg-semi-light {
  background-color: #dadcde !important; }

.bg-mid-light {
  background-color: #ccc !important; }

.bg-semi-blue {
  background-color: #f0f0f5 !important; }

.bg-orange {
  background-color: #d46549 !important; }

.bg-red {
  background-color: #c80204 !important; }

.bg-primary {
  background-color: var(--blue) !important; }

.text-40 {
  font-size: 40px; }

.text-30 {
  font-size: 30px; }

.text-23 {
  font-size: 23px; }

.text-20 {
  font-size: 20px; }

.text-18 {
  font-size: 18px; }

.text-17 {
  font-size: 17px; }

.text-16 {
  font-size: 16px; }

.text-15 {
  font-size: 15px; }

.text-14 {
  font-size: 14px; }

.text-13 {
  font-size: 13px; }

.text-12 {
  font-size: 12px; }

.text-11 {
  font-size: 11px; }

.text-bolder {
  font-family: "HelveticaNeue-Bold" !important; }

.text-bold {
  font-family: "HelveticaNeue-Medium" !important; }

.text-normal {
  font-family: "HelveticaNeue-Normal" !important; }

.text-lighter {
  font-family: "HelveticaNeue" !important; }

.btn-outline-custom {
  background-color: #f3f3f3;
  border: none;
  color: black; }

.btn-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%; }
  .btn-circle i {
    font-size: 20px; }

.auto-hide {
  opacity: 0.0; }

.auto-hide:hover {
  opacity: 1.0; }

.auto-show {
  opacity: 1.0; }

.auto-show:hover {
  opacity: 0.0; }

.btn {
  font-family: "HelveticaNeue-Normal"; }

.btn:focus {
  box-shadow: none; }

.btn-link {
  color: var(--blue); }

.btn-link:hover,
.btn-link:active,
.btn-link:focus {
  color: var(--blue) !important;
  text-decoration: none !important; }

.form-control {
  font-family: "HelveticaNeue-Normal"; }

.form-control:focus {
  box-shadow: none !important;
  border: 1px solid #ced4da; }

.input-group .input-group-text {
  border: none;
  font-size: 18px;
  height: 36px;
  border-radius: 18px;
  background-color: #f3f3f3;
  color: #ccc; }

.input-group .form-control {
  border: none;
  height: 36px;
  border-radius: 18px;
  background-color: #f3f3f3; }

.input-group .form-control::placeholder {
  color: #999; }

.modal-content {
  border: none; }
  .modal-content .modal-body {
    padding: 0px; }

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center; }
  .login .content {
    width: 100%;
    text-align: center; }
  .login .icon {
    font-size: 60px;
    color: var(--blue); }
  .login .input .btn-group {
    width: 286px;
    height: 42px; }
    .login .input .btn-group .btn {
      padding: 0px;
      margin: 0px;
      border-color: #ced4da; }
    .login .input .btn-group .btn-left {
      border-bottom-left-radius: 0px;
      border-right: 0px; }
    .login .input .btn-group .btn-right {
      border-bottom-right-radius: 0px; }
  .login .input .form-group {
    display: flex;
    justify-content: center;
    margin-bottom: 0px; }
    .login .input .form-group input.form-control {
      width: 286px;
      height: 42px; }
    .login .input .form-group .form-left {
      width: 143px !important; }
    .login .input .form-group .form-right {
      width: 143px !important;
      border-left: 0px; }
  .login .input .form-middle input {
    border-top: 0px;
    border-radius: 0px; }
  .login .input .form-bottom input {
    border-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-bottom: 1.5rem !important; }

.home {
  display: grid;
  grid-template-columns: 420px auto;
  width: 100vw;
  height: 100vh; }
  .home .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: solid #dadcde 1px; }
    .home .content .content-header {
      display: flex;
      align-items: center; }
    .home .content .content-body .content-conversation {
      display: flex;
      flex-direction: column;
      height: 100%; }
      .home .content .content-body .content-conversation .list-conversation {
        flex: 1;
        overflow: auto; }
        .home .content .content-body .content-conversation .list-conversation .conversation-item {
          cursor: pointer; }
          .home .content .content-body .content-conversation .list-conversation .conversation-item .conversation-background {
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-radius: 10px; }
            .home .content .content-body .content-conversation .list-conversation .conversation-item .conversation-background .left {
              display: inline-flex;
              margin-right: 10px;
              width: 100%; }
              .home .content .content-body .content-conversation .list-conversation .conversation-item .conversation-background .left .info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%; }
                .home .content .content-body .content-conversation .list-conversation .conversation-item .conversation-background .left .info .last-message {
                  display: flex;
                  justify-content: space-between; }
            .home .content .content-body .content-conversation .list-conversation .conversation-item .conversation-background .right {
              display: flex;
              align-items: center; }
          .home .content .content-body .content-conversation .list-conversation .conversation-item .active {
            background-color: rgba(0, 0, 0, 0.05); }
    .home .content .content-body .content-people {
      display: flex;
      flex-direction: column;
      height: 100%; }
      .home .content .content-body .content-people .navigation {
        display: flex;
        justify-content: space-evenly; }
        .home .content .content-body .content-people .navigation .btn {
          height: 30px;
          width: 130px;
          border-radius: 15px;
          font-family: "HelveticaNeue-Medium"; }
      .home .content .content-body .content-people .list-people {
        overflow: scroll; }
        .home .content .content-body .content-people .list-people .people-item {
          display: flex;
          align-items: center; }
          .home .content .content-body .content-people .list-people .people-item .people-item-name {
            width: 100%;
            padding: 13px 10px;
            border-bottom: solid rgba(218, 220, 222, 0.4) 1px; }
      .home .content .content-body .content-people .list-request {
        overflow: scroll; }
        .home .content .content-body .content-people .list-request .request-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: solid rgba(218, 220, 222, 0.4) 1px; }
    .home .content .content-footer {
      display: flex; }
      .home .content .content-footer .footer-item {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.6;
        width: 100%; }
        .home .content .content-footer .footer-item .item-content {
          display: flex;
          flex-direction: column;
          align-items: center; }
          .home .content .content-footer .footer-item .item-content i {
            font-size: 23px;
            margin-bottom: 5px; }
      .home .content .content-footer .footer-item:hover {
        cursor: pointer; }
      .home .content .content-footer .active {
        opacity: 1.0; }
  .home .content-chat {
    display: flex;
    flex-direction: column; }
    .home .content-chat .info-area {
      display: flex;
      justify-content: space-between;
      border-bottom: solid #dadcde 1px; }
      .home .content-chat .info-area .user-info {
        display: flex;
        flex-direction: column; }
      .home .content-chat .info-area .control i {
        font-size: 23px;
        color: var(--blue); }
    .home .content-chat .chat-area {
      display: flex;
      flex-direction: column-reverse;
      overflow: scroll; }
      .home .content-chat .chat-area .item-chat-message {
        display: flex;
        align-items: flex-end; }
        .home .content-chat .chat-area .item-chat-message .message-text {
          padding: 6px 12px 7px;
          border-radius: 1.3rem;
          margin: 1px 0px; }
      .home .content-chat .chat-area .mine {
        justify-content: flex-end; }
        .home .content-chat .chat-area .mine .message-text {
          background-color: var(--blue);
          color: white; }
        .home .content-chat .chat-area .mine .chat-end {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 1.3rem; }
        .home .content-chat .chat-area .mine .chat-top {
          border-top-right-radius: 1.3rem;
          border-bottom-right-radius: 4px; }
        .home .content-chat .chat-area .mine .chat-mid {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px; }
      .home .content-chat .chat-area .friend {
        justify-content: flex-start; }
        .home .content-chat .chat-area .friend .message-text {
          background-color: #f3f3f3; }
        .home .content-chat .chat-area .friend .chat-end {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 1.3rem; }
        .home .content-chat .chat-area .friend .chat-top {
          border-top-left-radius: 1.3rem;
          border-bottom-left-radius: 4px; }
        .home .content-chat .chat-area .friend .chat-mid {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px; }
    .home .content-chat .control-area {
      display: flex; }

.avatar {
  display: inline-flex; }
  .avatar .wrap {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #d3d5da;
    border-radius: 50%; }
    .avatar .wrap .online-status {
      position: absolute;
      bottom: 1px;
      right: 1px;
      width: 10px;
      height: 10px;
      background-color: #63bf38;
      border-radius: 50%; }
    .avatar .wrap .badge {
      position: absolute;
      bottom: 0px;
      right: 0px;
      color: #63bf38;
      background-color: #1c2d1e;
      padding: 0.15rem; }
  .avatar .langer {
    width: 100px;
    height: 100px; }
    .avatar .langer i {
      font-size: 50px; }
    .avatar .langer .online-status {
      width: 21px;
      height: 21px;
      bottom: 5px;
      right: 5px; }
    .avatar .langer .badge {
      font-size: 15px;
      min-width: 35px; }
  .avatar .medium {
    width: 50px;
    height: 50px; }
    .avatar .medium i {
      font-size: 25px; }
    .avatar .medium .badge {
      font-size: 11px; }
  .avatar .normal {
    width: 40px;
    height: 40px; }
    .avatar .normal i {
      font-size: 20px; }
    .avatar .normal .badge {
      font-size: 9px; }
  .avatar .small {
    width: 28px;
    height: 28px; }
    .avatar .small i {
      font-size: 14px; }
    .avatar .small .online-status {
      visibility: hidden; }
    .avatar .small .badge {
      font-size: 8px; }
  .avatar .tiny {
    width: 22px;
    height: 22px; }
    .avatar .tiny i {
      font-size: 11px; }
    .avatar .tiny .online-status {
      visibility: hidden; }
    .avatar .tiny .badge {
      visibility: hidden; }
  .avatar img {
    border-radius: 50%; }

.dot {
  width: 12px;
  height: 12px;
  background-color: var(--primary);
  border-radius: 50%; }

.toast_contain {
  position: fixed;
  right: 5px;
  bottom: 5px;
  z-index: 3; }

.popup {
  font-family: "HelveticaNeue-Normal";
  z-index: 2; }
  .popup .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: solid rgba(218, 220, 222, 0.6) 1px; }
    .popup .popup-header .btn {
      font-family: "HelveticaNeue-Medium"; }
    .popup .popup-header .title {
      font-family: "HelveticaNeue-Medium"; }

.drop_contain {
  position: fixed;
  top: 0px;
  height: 0px;
  width: 100vw;
  height: 100vh; }
  .drop_contain .drop_wrap {
    position: absolute;
    display: inline-flex;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.45); }
  .drop_contain .drop_wrap > div {
    border-radius: 3px; }

.drop_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff; }
  .drop_content .drop_seperate {
    height: 1px;
    background-color: rgba(204, 204, 204, 0.4);
    margin-top: 3px;
    margin-bottom: 3px; }
  .drop_content .drop_item {
    padding: 5px 25px;
    text-align: left;
    color: #000000;
    border: none;
    border-radius: 0px; }
  .drop_content .drop_item:hover {
    color: #fff; }

.drop_content .setting_drop_content {
  width: 220px; }

.popup_search_user {
  padding: 0.5rem; }
  .popup_search_user .popup-content {
    height: 300px;
    overflow: scroll; }
  .popup_search_user .popup-item {
    display: flex;
    align-items: center; }
    .popup_search_user .popup-item .popup-item-name {
      width: 100%;
      padding: 10px;
      border-bottom: solid rgba(218, 220, 222, 0.4) 1px; }

.popup_user_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1rem; }
  .popup_user_info .control-area .btn {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 40px; }
  .popup_user_info .control-area i {
    font-size: 17px; }
  .popup_user_info .nickname button {
    width: 25px;
    height: 25px; }
    .popup_user_info .nickname button i {
      font-size: 16px; }

.popup_confirm {
  align-items: center;
  padding: 1.2rem; }
  .popup_confirm .popup_control {
    display: flex;
    flex-direction: row-reverse; }
    .popup_confirm .popup_control .btn {
      min-width: 80px;
      margin-left: 5px; }
    .popup_confirm .popup_control .btn-light {
      background-color: initial;
      border: none; }
    .popup_confirm .popup_control .btn-light:hover {
      background-color: #f3f3f3; }

.popup_setting {
  padding: 0.0rem 1.4rem; }
  .popup_setting div, .popup_setting p, .popup_setting label {
    font-family: "HelveticaNeue-Medium" !important; }
  .popup_setting .popup_item {
    display: flex;
    padding: 1.1rem 0.0rem;
    border-bottom: solid rgba(204, 204, 204, 0.4) 1px; }
    .popup_setting .popup_item .popup_item_title {
      display: flex;
      align-items: center;
      width: 162px;
      color: #999; }
    .popup_setting .popup_item .popup_item_content {
      display: flex;
      align-items: center; }

.popup_profile {
  padding: 1.5rem 1rem; }
  .popup_profile .profile_name {
    display: flex;
    justify-content: space-between; }
  .popup_profile .profile_control {
    display: flex;
    justify-content: center; }
  .popup_profile .btn {
    margin-left: 5px;
    margin-right: 5px; }
  .popup_profile .input-group .wrong {
    color: var(--danger); }
