.home {
    display: grid;
    grid-template-columns: 420px auto;
    width: 100vw;
    height: 100vh;

    .content {
        display: flex;
        flex-direction: column;
        height: 100%;
        border-right: solid $color-semi-light 1px;

        .content-header {
            display: flex;
            align-items: center;
        }

        .content-body {
            .content-conversation {
                display: none;
                // display: flex;
                flex-direction: column;
                height: 100%;

                .list-conversation {
                    flex: 1;
                    overflow: auto;

                    .conversation-item {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        .left {
                            display: inline-flex;
                            margin-right: 10px;
                            width: 100%;

                            .info {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                width: 100%;

                                .last-message {
                                    display: flex;
                                    justify-content: space-between;
                                }
                            }
                        }

                        .right {
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }

            .content-people {
                display: flex;
                flex-direction: column;
                height: 100%;

                .navigation {
                    $height: 30px;

                    display: flex;
                    justify-content: space-evenly;

                    .btn {
                        height: $height;
                        width: 130px;
                        border-radius: $height * 0.5;
                        font-family: "HelveticaNeue-Medium";
                    }
                }

                .list-people {
                    display: none;
                    // display: inline;
                    overflow: scroll;

                    .people-item {
                        display: flex;
                        align-items: center;

                        .people-item-name {
                            width: 100%;
                            padding: 13px 10px;
                            border-bottom: solid rgba($color: $color-semi-light, $alpha: 0.4) 1px;
                        }
                    }
                }

                .list-request {
                    overflow: scroll;

                    .request-item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: solid rgba($color: $color-semi-light, $alpha: 0.4) 1px;
                    }
                }
            }
        }

        .content-footer {
            display: flex;

            .footer-item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;

                .item-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    i {
                        font-size: 23px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    .content-chat {
        display: flex;
        flex-direction: column;

        .info-area {
            display: flex;
            justify-content: space-between;
            border-bottom: solid $color-semi-light 1px;

            .user-info {
                display: flex;
                flex-direction: column;
            }

            .control {
                i {
                    font-size: 23px;
                    color: $color-primary;
                }
            }
        }

        .chat-area {
        }

        .control-area {
            display: flex;
        }
    }
}
